<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <links-header th:insert="blocks/links-header :: links-header"></links-header>

    <header th:insert="blocks/header :: header"></header>
    <title th:text="${title}"/>
</head>
<body class="body-login" style="background-color: #030203" >
<div class="form mt-5" >

    <div class="row py-2 mt-5">
        <div class="col-12 mt-5">
            <!--                <form th:action="@{/authenticateTheUser}" method="post">-->
            <form th:action="@{/login}" method="post" th:object="${user}">
                <div class="form-group">
                    <label for="username" class="fw-weight-bold text-white lang" key="username">User name</label>
                    <input type="text" th:name="username" id="username" th:field="${user.username}"
                           class="form-control fw-weight-bold lang" key="username" placeholder="Enter  login">
                    <small class="form-text text-danger fw-weight-bold" th:each="err : ${#fields.errors('username')}">fail
                        username</small>
                </div>
                <div class="form-group">
                    <label for="password" class="fw-weight-bold text-white lang" key="password">Password</label>
                    <input type="password" th:name="password" id="password" th:field="${user.password}"
                           class="form-control fw-weight-bold lang" key="password" placeholder="Password">
                    <small class="form-text text-danger fw-weight-bold" th:each="err : ${#fields.errors('password')}">fail
                        password</small>
                </div>
                <button type="submit" class="btn button-color lang" key="login">Login</button>
                <br><br>
                <a class="px-3 text-white lang" key="register" th:href="@{/register}"><strong> Registration </strong></a>
            </form>
        </div>
    </div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>