<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <links-header th:insert="blocks/links-header :: links-header"></links-header>

    <header th:insert="blocks/header :: header"></header>
    <title th:text="#{title.login}"/>
</head>
<body class="body-login" style="background-color: #030203">
<div class="form mt-5">
    <div class="row py-2 mt-5">
        <div class="col-12 mt-5">
            <form th:action="@{/authenticateTheUser}" method="post" th:object="${user}">
                <div class="form-group">
                    <label for="username" class="fw-weight-bold text-white" th:text="#{username}">User name</label>
                    <input type="text" name="username" id="username" th:field="${user.username}"
                           class="form-control fw-weight-bold" th:placeholder="#{login.placeholder}">
                </div>
                <div class="form-group">
                    <label for="password" class="fw-weight-bold text-white" th:text="#{password}">Password</label>
                    <input type="password" th:name="password" id="password" th:field="${user.password}"
                           class="form-control fw-weight-bold" th:placeholder="#{password.placeholder}">
                    <button type="submit" class="btn button-color" th:text="#{login}">Login</button>
                    <br><br>
                    <a class="px-3 text-white" th:text="#{register}"
                       th:href="@{/register}"><strong>Registration</strong>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
<h3 class="text-danger" th:if="${param.error != null}">[[#{error.login}]]</h3>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>