<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <links-header th:insert="blocks/links-header :: links-header"></links-header>

    <header th:insert="blocks/header :: header"></header>
    <title th:text="#{title.register}"/>
</head>
<body class="body-color" style="text-align: center">
<div class="form">
    <div class="row py-2">
        <div class="col-12">
            <form th:action="@{/register}" method="post" th:object="${user}">
                <div class="form-group">
                    <label for="email" class="fw-weight-bold text-white" th:text="#{email}">Email</label>
                    <input type="email" id="email" th:field="${user.email}"
                           class="form-control fw-weight-bold" th:placeholder="#{email.placeholder}">
                    <div class="form-text text-danger fw-weight-bold"
                         th:each="err : ${#fields.errors('email')}" th:text="${err}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="username" class="fw-weight-bold text-white" th:text="#{username}">User name</label>
                    <input type="text" id="username" th:field="${user.username}"
                           class="form-control fw-weight-bold" th:placeholder="#{login.placeholder}">
                    <div class="form-text text-danger fw-weight-bold"
                         th:each="err : ${#fields.errors('username')}" th:text="${err}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="fw-weight-bold text-white" th:text="#{password}">Password</label>
                    <input type="password" id="password" th:field="${user.password}"
                           class="form-control fw-weight-bold " th:placeholder="#{password.placeholder}">
                    <div class="form-text text-danger fw-weight-bold"
                         th:each="err : ${#fields.errors('password')}" th:text="${err}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="repeatPassword" class="fw-weight-bold text-white"
                           th:text="#{password-2}">Repeat password
                    </label>
                    <input type="password" id="repeatPassword" th:field="${user.repeatPassword}"
                           class="form-control fw-weight-bold" th:placeholder="#{password-2}">
                    <div class="form-text text-danger fw-weight-bold"
                         th:each="err : ${#fields.errors('repeatPassword')}" th:text="${err}">
                    </div>
                </div>
                <button type="submit" class="btn button-color" th:text="#{register}">Register</button>
            </form>
        </div>
    </div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>