<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <links-header th:insert="blocks/links-header :: links-header"></links-header>
    <title th:text="#{title.users}"/>
</head>
<body class="body-color">
<header th:insert="blocks/header :: header"></header>

<h2 class="ml-5 mt-2 md-5" th:text="#{users}">Show all Users</h2>

<form name="isUsersTable">
    <table class="table table-bordered ml-3 text-center">
        <thead>
        <tr>
            <th th:text="#{id}">Id</th>
            <th th:text="#{username}">Username</th>
            <th th:text="#{role}">Role</th>
            <th th:text="#{email}">Email</th>
            <th th:text="#{active}">Active</th>
            <th th:text="#{action}">Action</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="user:${users}">
            <tr>
                <td><p th:text="${user.id}"/></td>
                <td>
                    <a class="nav-link" th:href="@{'/users/profile/' +${user.id}}" th:text="${user.username}"></a>
                </td>
                <td>
                    <span th:each="role,iterStat:${user.getRoles()}"
                          th:text="${role.name} + ${!iterStat.last ? ', ' : ''}">
                    </span>
                </td>
                <td>
                    <p th:text="${user.email}"/>
                </td>
                <td>
                    <p th:text="${user.isActive()}"/>
                </td>
                <td>
                    <form th:action="'users/' + ${user.id} + '/delete' " method="post">
                        <button class="btn button-color" type="submit" th:text="#{delete}"
                                onclick="if (confirm('Unblocked/Blocked users selected item?'))
                                {return true;}else{event.stopPropagation(); event.preventDefault();}">Delete
                        </button>
                    </form>
                    <form th:action="'/users/' + ${user.id} + '/is-active' " method="get">
                        <button class="btn button-color mt-1" th:text="#{block-unblock}" type="submit"
                                onclick="if (confirm('Unblocked/Blocked users selected item?'))
                                {return true;}else{event.stopPropagation(); event.preventDefault();}">Unblocked/Blocked
                        </button>
                    </form>
                    <form th:action="'/users/get-admin/' + ${user.id}" method="get">
                        <button class="btn button-color mt-1" th:text="#{admin}" type="submit"
                                onclick="if (confirm('Privilege admin selected item?'))
                                {return true;}else{event.stopPropagation(); event.preventDefault();}">Admin/NotAdmin
                        </button>
                    </form>
                </td>
            </tr>
        </div>
        </tbody>
    </table>
</form>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
<style type="text/css">
    .button {
        margin: auto;
        display: block;
    }
</style>
</html>