<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <links-header th:insert="blocks/links-header :: links-header"></links-header>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>


<form class="row g-3" th:action="@{/films/createfilm}" method="POST" enctype="multipart/form-data">
    <div class="col-12">
        <input type="text" class="form-control" name="filmname" placeholder="enter film name">
    </div>
    <div class="col-12">
       <input type="file" name="file"><br />
    </div>
    <div class="col-12">
        <input type="text" class="form-control" name="description" placeholder="enter description">
    </div>
    <div class="col-md-6">
        <input type="number" class="form-control" name="rating" placeholder="enter rating">
    </div>
    <div class="col-md-6">
        <input type="number" class="form-control" name="year" placeholder="enter year">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Create new film</button>
    </div>
</form>


<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>