<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <links-header th:insert="blocks/links-header :: links-header"></links-header>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5" th:each="el:${film}">
    <!--Section: Content-->
    <section class="dark-grey-text">
        <!-- Grid row -->
        <div class="row align-items-center">
            <!-- Grid column -->
            <div class="col-lg-5 col-xl-4">
                <!-- Featured image -->
                <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                    <img class="img-fluid bd-placeholder-img" width="200" height="250"
                         th:src="${el.picture}"
                         alt="Sample image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-7 col-xl-8">
                <!-- Post title -->
               Title: <h4 class="font-weight-bold mb-3" th:text="${el.title}"><strong></strong></h4>
                <!-- Excerpt -->
               Description: <p class="dark-grey-text" th:text="${el.description}"></p>
                <!-- Post data -->
               ID: <p th:text="${el.id}"></p>
               Year: <p th:text="${el.year}"></p>
               Rating:  <p th:text="${el.rating}"></p>
               Author: <p th:text="${el.author.username}"><strong></strong></p>
                <!-- Read more button -->
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
        <hr class="my-5">
    </section>
    <!--Section: Content-->
</div>


<comment th:insert="blocks/comments :: comments"></comment>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>