<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <links-header th:insert="blocks/links-header :: links-header"></links-header>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${title}"/>
</head>
<body class="body-login">
    <header th:insert="blocks/header :: header"></header>

    <h1 class="text-center mt-5">Welcome</h1>
    <h1 class="text-center" th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <br><br><br><br>

    <button class="button w-1 btn btn-lg button-color text-center lang" key="films" type="button" value="show"
            onclick="window.location.href = 'films'">View all films
    </button>

    <footer th:insert="blocks/footer :: footer"></footer>
</body>
    <style type="text/css">
        .button {
            margin: auto;
            display: block;
        }
    </style>
</html>