<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <links-header th:insert="blocks/links-header :: links-header"></links-header>
    <meta charset="UTF-8">
    <title th:text="#{title.home}"/>
</head>
<body class="body-color" style="text-align: center">
    <header th:insert="blocks/header :: header"></header>
    <div class="container">
        <div class="main-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-body body-color">
                            <div>
                                <h1 class="text-center mt-5" th:text="#{welcome}">Welcome</h1>
                                <h1 class="text-center" th:inline="text">[[#{hello}]] [[${#httpServletRequest.remoteUser}]]!</h1>
                                <h3><br>[[#{welcome.message1}]]<br>[[#{welcome.message2}]]</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <button class="button w-1 btn btn-lg button-color text-center" type="button" value="show"
            onclick="window.location.href = 'films'" th:text="#{films}">Show all films
    </button>
    <br><br>
    <form th:action="@{'/films/user/'+ ${user.id} +'/create-overview'}" method="get">
        <button class="btn button-color" style="margin-bottom: 10px" type="submit"
                th:text="#{new-film}">
            Add New Overview
        </button>
    </form>

    <footer th:insert="blocks/footer :: footer"></footer>
</body>
<style type="text/css">
    .button {
        margin: auto;
        display: block;
    }
</style>
</html>