<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <links-header th:insert="blocks/links-header :: links-header"></links-header>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="color:green">blok</div>
<ul class="color:green">
<!—Русский—>
<li ><a href color:green;">https://site.ru/ "><img class="" src color:green;">images/Ru.jpg " alt ="" width color:green;">89 " height color:green;">34 " /></a>
<ul class color:green;">submenu ">
<!—Английский—>
<li ><a href color:green;">https://site.ru/en/ ">< img src color:green;">images/En.jpg " alt ="" width color:green;">89 " height color:green;">34 " /></a>
<!—Немецкий—>
< li ">< a href color:green;">https://site.ru/de/ ">< img src color:green;">images/De.jpg " alt ="" width color:green;">89 " height color:green;">34 " /></a>
<!—Испанский—>
< li ">< a href color:green;">https://site.ru/es/ ">< img src color:green;">images/Es.jpg " alt ="" width color:green;">89 " height color:green;">34 " /></a>
<!—Итальянский—>
< li ">< a href color:green;">https://site.ru/it/ ">< img src color:green;">images/It.jpg " alt ="" width color:green;">89 " height color:green;">34 " /></a>
<!—Французский—>
< li ">< a href color:green;">https://site.ru/fr/ ">< img src color:green;">images/Fr.jpg " alt ="" width color:green;">89 " height color:green;">34 " /></a>
<!—Еврейский—>
< li ">< a href color:green;">https://site.ru/he/ ">< img src color:green;">images/He.jpg " alt ="" width color:green;">89 " height color:green;">34 " /></a>
<!—Китайский—>
< li ">< a href color:green;">https://site.ru/zh/ ">< img src color:green;">images/Zh.jpg " alt ="" width color:green;">89 " height color:green;">34 " /></a>
<!—Турецкий—>
< li ">< a href color:green;">https://site.ru/tr/ ">< img src color:green;">images/Tr.jpg " alt ="" width color:green;">89 " height color:green;">34 " /></a>
< /ul >
< /li >
< /ul >
< /div >

. blok <
text-align : center ;
width : 89px ;
>
. blok a <
text-decoration : none ;
display : block ;
transition : .5s linear ;

>
. blok ul <
list-style : none ;
margin : 0 ;
padding : 0 ;

>
. topmenu > li <
display : block ;
position : relative ;
top : 0 ;
left : 0 ;
margin-bottom : 2px ;
>
. submenu <
position : absolute ;
left : 0 ;
top : 0 ;
z-index : 5 ;
width : 89px ;
visibility : hidden ;
opacity : 0 ;
transform : translateY(10px) ;
transition : .5s ease-in-out ;
>
. submenu li <
position : relative ;
top : 0 ;
left : 0 ;
>
. submenu .submenu <
position : absolute ;
top : 0 ;
left : calc(100% — 1px) ;
left : -webkit-calc(100% — 1px) ;
>
. blok li:hover > .submenu <
visibility : visible ;
opacity : 1 ;
transform : translateY(0px) ;
>


<comment th:insert="blocks/comments :: comments"></comment>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>