<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <links-header th:insert="blocks/links-header :: links-header"></links-header>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>


<div align="center">
    <div> <h2>Spring upload</h2></div>

    <form class="row g-3" th:action="@{/file/upload}" method="POST" enctype="multipart/form-data">
        <div class="col-12">
            Description <input type="text" name="description" required size="30">
        </div>
        <div class="col-12">
            <input type="file" name="file" required />
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Create new film</button>
        </div>
    </form>


</div>


<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>