<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <links-header th:insert="blocks/links-header :: links-header"></links-header>
</head>
<!--<body bgcolor="#000" background="star-sky.jpeg">-->
<body class="body-color">
    <header th:insert="blocks/header :: header"></header>

    <h2 class="ml-5 mt-2 md-5 lang" key="users">Show all Users</h2>

    <form name="isUsersTable" >
        <table class="table table-bordered ml-3">
            <thead>
                <tr><!-- line table -->
                    <th class="lang" key="id">Id</th><!-- head table -->
                    <th class="lang" key="username">Username</th><!-- head table -->
                    <th class="lang" key="role">Role</th><!-- head table -->
                    <th class="lang" key="active">Active</th><!-- head table -->
                </tr>
            </thead>
            <tbody>
                <div th:each="user:${users}">
                    <tr><!-- line table  -->
                        <td><p th:text="${user.id}"/></td> <!-- cell table -->
                        <td><a class="nav-link lang"
                               th:href="@{'/users/profile/' +${user.id}} "
                               th:text="${user.username}"></a></td>
                        <td>
                             <span th:each="role,iterStat:${user.getRoles()}"
                                   th:text="${role.name} + ${!iterStat.last ? ', ' : ''}">
                             </span>
                        </td> <!-- cell table -->
                        <td> <p th:text="${user.isActive()}"/></td> <!-- cell table -->
                        <td>
                            <form th:action="'users/' + ${user.id} + '/delete' " method="post">
                                <button class="btn button-color lang" key="delete" type="submit">Delete</button>
                            </form>
                            <form th:action="'/users/' + ${user.id} + '/isactive' " method="get">
                                <button class="btn button-color mt-1 lang" key="bl-un" type="submit">Unblocked/Blocked</button>
                            </form>
                        </td>
                    </tr>
                </div>
            </tbody>
        </table>
    </form>

    <footer th:insert="blocks/footer :: footer"></footer>
</body>
<style type="text/css">
    .button {
        margin: auto;
        display: block;
    }
</style>
</html>