<div th:fragment="comments">
    <form sec:authorize="isAuthenticated()">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="panel header-color">
                        <div class="panel-heading">
                            Комментарии
                        </div>
                        <div id="list-example" data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0"
                             class="body-color comments scrollspy-example">
                            <form method="post" th:action="@{filter}">
                            </form>
                            <form method="post" th:objact="film" th:action="@{/films/film/{id}(id=${id})}"
                                  enctype="multipart/form-data">
                                <textarea class="form-control textarea" name="textComment" placeholder="Оставьте Ваш комментарий"
                                          rows="5"></textarea>
                                <button type="submit" class="btn button-color pull-right">Отправить</button>
                            </form>
                            <div class="clearfix"></div>
                            <hr>
                            <ul class="media-list" th:each="el:${comments}">
                                <li class="media">
                                    <div class="comment">
                                        <a href="#" class="pull-left">
                                            <img src="https://bootstraptema.ru/snippets/icons/2016/mia/6.png"
                                                 alt="" class="img-sm">
                                        </a>
                                        <div class="">
                                            <strong class="text-color">"[[${el.author.username}]]" </strong>
                                            <span >
                                                <small class="text-color" >2016-02-11</small>
                                            </span>
                                            <p class="text-color">
                                                "[[${el.message}]]"
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
