<div th:fragment="comments">
    <form sec:authorize="isAuthenticated()">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel header-color">
                        <div class="panel-heading" th:text="#{comments}">
                            Comments
                        </div>
                        <div id="list-example" data-bs-spy="scroll" data-bs-target="#list-example"
                                    data-bs-offset="0" class="body-color comments scrollspy-example">
                            <form method="post" th:action="@{filter}">
                            </form>
                            <form method="post" th:action="'/films/film/' + ${film.id}" th:object="${film}"
                                  enctype="multipart/form-data">
                                    <textarea class="form-control textarea" name="textComment"
                                              th:placeholder="#{comments.placeholder}" rows="5"></textarea>
                                <button class="btn button-color pull-right" th:text="#{send}" type="submit" >Send</button>
                            </form>
                            <div class="clearfix"></div>
                            <hr>
                            <ul class="media-list" th:each="el:${comments}">
                                <li class="media">
                                    <div class="comment">
                                        <a href="#" class="pull-left">
                                            <img th:with=" checkPhoto=(${el.author.photo == null || el.author.photo.isEmpty}
                                                        ? 'https://bootdey.com/img/Content/avatar/avatar7.png'
                                                        :  '/img/'+ ${el.author.photo})"
                                                 th:src="@{${checkPhoto}}" alt="Admin"
                                                 class="rounded-circle"
                                                 width="50">
                                        </a>
                                        <div class="">
                                            <strong class="text-color">"[[${el.author.username}]]" </strong>
                                            <span >
                                                <small class="text-color" >[[${el.time}]]</small>
                                            </span>
                                            <p class="text-color">
                                                "[[${el.message}]]"
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
