<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand ml-5" href="/" th:text="${title}"/></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ml-5">
                    <a class="nav-link" href="/users">Show All Users </a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link" href="/users/deleteall">Delete all users </a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link" href="/users/unblocked">Unblock all users </a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link" href="/users/blocked">Block all users </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">

                <form class="form-inline " th:action="@{/logout}" method="post">
                    <button class="btn btn-dark my-2 my-sm-0"><i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </button>
                </form>
            </ul>
        </div>
    </nav>
</div>

