<div th:fragment="header">
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li class="img-logo">
                    <img/>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item ml-5">
                    <a class="nav-link" data-th-text="#{home}" href="/">Home </a>
                </li>
                <li sec:authorize="hasAuthority('ADMIN')" class="nav-item ml-5">
                    <a class="nav-link" data-th-text="#{users}" href="/users">Show All Users </a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link" th:text="#{films}" href="/films">Show All Films </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li>
                    <button id="light" class="theme-color " onclick="alertedSun();">
                        <img th:src="@{/images/sun.png}" alt="light" width="20px" height="20">
                    </button>
                </li>
                <li>
                    <button id="dark" class="theme-color " onclick="alertedDark();">
                        <img th:src="@{/images/moon.png}" alt="dark" width="20px" height="20">
                    </button>
                </li>
                <li>
                    <p>
                        <a id="en" class="translate" th:href="@{?language=en}">
                            <img th:src="@{/images/en.jpg}" width="20px" height="15" border="0" alt="en-flag">
                        </a>
                    </p>
                </li>
                <li>
                    <p>
                        <a id="ru" class="translate" th:href="@{?language=ru}">
                            <img th:src="@{/images/ru.jpg}" width="20px" height="15" border="0" alt="ru-flag">
                        </a>
                    </p>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item ml-5">
                    <a class="nav-link" href="/login" th:text="#{login}">Login</a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item ml-5">
                    <a class="nav-link" href="/register" th:text="#{register}">Register</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item ml-5">
                    <p>
                        <a id="profile" class="translate rounded-circle" href="/users/profile">
                            <img th:src="@{/images/profile.png}" class="rounded-circle head-logo" alt="profile">
                        </a>
                    </p>
                </li>
                <li>
                    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                        <button class="rounded-circle head-logo">
                            <img th:src="@{/images/logout.png}" class=" head-logo" alt="profile">
                        </button>
                    </form>
                </li>
            </ul>
        </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    </nav>
</div>





