<div th:fragment="header">
<!--    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
    <nav class="navbar navbar-expand-lg  header-color">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li class="img-logo">
                    <img/>
                </li>
                <li sec:authorize="hasAuthority('ADMIN')" class="nav-item ml-5">
                    <a class="nav-link lang" key="users" href="/users">Show All Users </a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link lang" key="films" href="/films">Show All Films </a>
                </li>
                <li sec:authorize="hasAuthority('ADMIN')" class="nav-item ml-5">
                    <a class="nav-link lang" key="delete-all-users" href="/users/deleteall"
                       onclick="if (confirm('Delete all users selected item?'))
                                    {return true;}else{event.stopPropagation(); event.preventDefault();};"
                       title="Link Title"> Delete all users </a>
                </li>
                <li sec:authorize="hasAuthority('ADMIN')" class="nav-item ml-5">
                    <a class="nav-link lang" key="unblock-all-users" href="/users/unblocked"
                       onclick="if (confirm('Unblock all users selected item?'))
                                    {return true;}else{event.stopPropagation(); event.preventDefault();};"
                       title="Link Title"> Unblock all users </a>
                </li>
                <li sec:authorize="hasAuthority('ADMIN')" class="nav-item  ml-5">
                    <a class="nav-link lang" key="block-all-users" href="/users/blocked"
                       onclick="if (confirm('Block all users selected item?'))
                                    {return true;}else{event.stopPropagation(); event.preventDefault();};"
                       title="Link Title"> Block all users </a>
                </li>

            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="header-item-theme">
                    <button id="light" class="theme-color" onclick="alertedSun();">
                        <img th:src="@{/images/sun.png}"  alt="light" width="20px" height="20">
                    </button>
                </li>
                <li class="header-item-theme">
                    <button id="dark" class="theme-color" onclick="alertedDark();">
                        <img th:src="@{/images/moon.png}"  alt="dark" width="20px" height="20">
                    </button>
                </li>
                <li class="header-item-lang-en">
                    <button id="en" class="translate">
                        <img th:src="@{/images/en.jpg}" alt="en-flag" width="20px" height="15">
                    </button>
                </li>
                <li class="header-item-lang-ru">
                    <button id="ru" class="translate">
                        <img th:src="@{/images/ru.jpg}" alt="ru-flag" width="20px" height="15">
                    </button>
                </li>
                <li sec:authorize="isAnonymous()"  class="nav-item ml-5">
                    <a class="nav-link lang" href="/login" key="login">Login</a>
                </li>
                <li sec:authorize="isAnonymous()"  class="nav-item ml-5">
                    <a class="nav-link lang" href="/register" key="register">Register</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item ml-5">
                    <a class="nav-link lang" href="/users/profile" key="profile">Profile</a>
                </li>
                <li>
                    <form sec:authorize="isAuthenticated()"
                          th:action="@{/logout}" method="post">
                        <button class="nav-link translate lang button-color" key="logout"><i
                                class="nav-link lang text-color-small" key="logout">Logout</i>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>


